{% extends 'tools/dependencies.html' %}
{% load static%}
{% block content %}
<<div class="container">
    <h1>DropBox</h1> <br/>
    <div>
        <p>What is DropBox?</p> <br/>
        <p>DropBox is an online storage site where all content and information is stored online.  Many different types of documents and media can be stored through this service.</p>
    <br/> <p>Why Use DropBox In Class? </p> <br/>
        <p>Never use a disc or flash drive again!  You can work from home, file your work in DropBox, and go to school and pull up your work through DropBox.  It is easy and convenient.  Also, you are able to share items placed in DropBox with whomever you choose.  So, if you want to share something with your students, it is an easy process of electronically sending them whatever you would like them to have.  DropBox is also accessible with hand held devices.</p>
        <br/> <br/> <br/>
        <p>To use DropBox click <a href="https://www.dropbox.com/">here</a></p> <br/>
        <p>Video lecture:</p> <br/>
        <p><a href="https://www.youtube.com/watch?v=IMovaeOmk0Q&t=1s"> Click here </a></p>
    </div>
    <br/>
</div>
{% endblock %}