{% extends 'tools/dependencies.html' %}
{% load static%}
{% block content %}
<div class="container">
    <h1>Edmodo</h1> <br/>
    <div>
        <p>What is Edmodo?</p> <br/>
        <p>Edmodo is an online network that connects a teacher with their students and parents.  It is often called the Facebook of the classroom.  Within the Edmodo site, teachers and students can collaborate, participate in learning together, and share content and information (including assigning, submitting, and grading homework).</p>
    <br/> <p>Why Use Edmodo In Class? </p> <br/>
        <p>It is a great way to keep communication high between teacher, students, and parents.  Students can also share work, such as their writing, not only with the teacher, but with fellow classmates, allowing for collaboration and peer review and analysis.  Students can access this site from any device that has internet access.  The students in your class can develop and foster a sense of unity and community by working together through this site, regardless of learning style or ability.
</p>
        <br/> <br/> <br/>
        <p>To use Edmodo click <a href="https://new.edmodo.com/">here</a></p> <br/>
        <p>Video lecture:</p> <br/>
        <p><a href="https://www.youtube.com/watch?v=fgxkSNU0p8Q&t=248s"> Click here </a></p>
    </div>
</div>
{% endblock %}