{% extends 'tools/dependencies.html' %}
{% load static%}
{% block content %}
<div class="container">
    <h1>Prezi</h1> <br/>
    <div>
        <p>What is Prezi?</p> <br/>
        <p>Prezi is an online presentation resource that unlike many presentation sites which use slides to present content and information, much as Powerpoint, Prezi utilizes a presentation canvas.  When your content is placed on this virtual canvas, as the user, you have the capability to zoom in and out of the information, while navigating between pieces of information in a creative manner. </p>
    <br/> <p>Why Use Prezi In Class? </p> <br/>
        <p>A Prezi can bring any presentation alive and make it more exciting and engaging.  Due to the feature that allows you to zoom in and out of information, you can bring attention to details and pertinent content, while being visually stimulating.  Not only can you place written content and information in a Prezi presentation, but as the user, you can also add videos, images, and other presentation media.  A Prezi allows for increased communication and collaboration.  Also, since it is a Web 2.0 resource, your Prezi does not need to be saved to a hard drive but can be accessed through the Prezi site from any computer that has internet access as well as from hand held devices. </p>
        <br/> <br/> <br/>
        <p>To use prezi click <a href="https://prezi.com/">here</a></p> <br/>
        <p>Video lecture:</p> <br/>
        <p><a href="https://www.youtube.com/watch?v=SWeXc0nwObc&t=51s"> Click here </a></p>
    </div>
</div>
{% endblock %}