{% extends 'tools/dependencies.html' %}
{% load static%}
{% block content %}
<div class="container">
    <h1>Teacher</h1> <br/> <br/>
    <div class="d-flex column">
        <img src="https://media.istockphoto.com/vectors/user-avatar-profile-icon-black-vector-illustration-vector-id1209654046?k=20&m=1209654046&s=612x612&w=0&h=Atw7VdjWG8KgyST8AXXJdmBkzn0lvgqyWod9vTb2XoE=" style="height: 200px; width: 200px;">
    <h2> <br/> <br/>Maja Alla</h2> <br/>
    </div>
    <div>
        <p>Informations:</p> <br/>
        <p>Maja Alla studied at Oxford University and got her degree in 2012. Since then she has thought in a lot of different schools. </p>
    <p>Contact: maja@example.com или кликни <a href="mailto:maja@example.com"> овде. </a></p>
    </div>
</div>
{% endblock %}